<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="right">
                <i class="fa fa-star" style="font-size: 26px; color:white;"aria-hidden="true"></i>
                <span class="menu"></span>
            </div>

            <div class="data">
                <div class="profile">
                    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg" alt="" />
                </div>
                <div class="userinfo">
                    <h3>Jaabiri Salim</h3>
                    <h5>Developer</h5>
                </div>
                <div class="contacts">
                    <div class="mobile">
                        <div class="wraps"> <i class="fa fa-mobile f " aria-hidden="true"></i></div>
                        <div class="wrap">
                            <h4>Mobile</h4>
                            <h5>+1(415) 123-4567</h5>
                        </div>
                    </div>
                    <div class="mobile">
                        <div class="wraps"> <i class="fa fa-phone f" aria-hidden="true"></i></div>
                        <div class="wrap">
                            <h4>WORK</h4>
                            <h5>+1(415) 123-4567</h5>
                        </div>
                    </div>
                    <div class="mobile">
                        <div class="wraps"> <i class="fa fa-envelope f" aria-hidden="true"></i></div>
                        <div class="wrap">
                            <h4>WORK</h4>
                            <h5>skynetjaabiri@gmail.com</h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>